html,
body {
  padding: 0;
  margin: 0;
}
.wrap {
  display: flex;
  border: 1px solid #ccc;
  height: 500px;
  padding: 40px;
  background: url("../image/test.png") no-repeat center/cover #ddd;
  color: #000;
  filter: alpha(opacity=70);
  transition: all 0.5s ease;
}
::placeholder {
  color: gray;
}
